
<main class="mdl-layout__content">

<div ng-controller="MapController">
  <ui-gmap-google-map
  id="gmap-mapper"
  control="mapControl"
  events="map.events"
  options="map.options"
  center="map.center"
  zoom="map.zoom">
  <ui-gmap-markers
  control="markerControl"
  models="map.markers"
  events="map.markerEvents"
  options="'options'"
  coords="'loc'"
  icon="'icon'"
  >
  </ui-gmap-markers>
  </ui-gmap-google-map>


<info-box class="info-box mdl-card mdl-shadow--2dp" ng-if="infoBoxIsVisible" ng-controller="InfoBoxController">
</info-box>
</div>

</main>
