/* Positioning variables */
.darkbg-text-primary {
  color: #ffffff;
}
.darkbg-text-secondary {
  color: rgba(255, 255, 255, 0.7);
}
.darkbg-text-hint {
  color: rgba(255, 255, 255, 0.3);
}
.lightbg-text-primary {
  color: rgba(0, 0, 0, 0.87);
}
.lightbg-text-secondary {
  color: rgba(0, 0, 0, 0.54);
}
.lightbg-text-hint {
  color: rgba(0, 0, 0, 0.26);
}
/**
 * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 *
 * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * the blur parameter has to be doubled.
 *
 * Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
 *
 * Example usage:
 *
 * .card {
 *     width: 95px;
 *     height: 95px;
 *     background: #f4f4f4;
 *     -webkit-transition: all 250ms;
 *     -moz-transition: all 250ms;
 *     transition: all 250ms;
 *     .BoxShadowHelper(1);
 *     &:hover {
 *         .BoxShadowHelper(3);
 *         -webkit-transform: translateY(-5px);
 *         -moz-transform: translateY(-5px);
 *         transform: translateY(-5px);
 *     }
 * }
 *
 */
.floor-fade {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  /* W3C */
}
.raised-accent-button {
  color: #ffffff;
  background-color: #e91e63;
}
.raised-accent-button:hover,
.raised-accent-button:focus {
  color: #ffffff;
  background-color: #d81b60;
}
.raised-accent-button:active,
.raised-accent-button:active:hover {
  color: #ffffff;
  background-color: #c2185b;
}
a.flat-dialog-button {
  /* Display and dimensions */
  display: inline-block;
  min-width: 88px;
  height: 48px;
  /* Margins, border and padding */
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 36px;
  text-align: center;
  /* Colours */
  /* Typography */
  text-decoration: none;
}
a.flat-dialog-button:hover {
  text-decoration: none;
}
a.flat-dialog-button.lightbg {
  color: rgba(0, 0, 0, 0.87);
}
a.flat-dialog-button.lightbg:hover,
a.flat-dialog-button.lightbg:focus {
  background-color: rgba(153, 153, 153, 0.2);
}
a.flat-dialog-button.lightbg:active {
  background-color: rgba(153, 153, 153, 0.4);
}
.btn {
  border-radius: 0;
}
.fab {
  color: #3f51b5;
}
.fab span.fa-stack {
  width: 48px;
  height: 48px;
}
.fab .fa-stack-2x {
  font-size: 48px;
}
.fab .fa-circle {
  color: #fce4ec;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.fab:hover {
  color: #3949ab;
}
.fab:active {
  color: #303f9f;
}
.fab.accent {
  color: #e91e63;
}
.fab.accent:hover {
  color: #d81b60;
}
.fab.accent:active {
  color: #c2185b;
}
/* Hacks to make the Bootstrap modal behave more the way we want it to */
.modal.in .modal.dialog {
  transform: none !important;
  /* no translate */
}
.modal.fade .modal-dialog {
  transition: none !important;
  transform: none !important;
}
.modal-content {
  /* Material properties */
  border-radius: 2px !important;
  box-shadow: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* Margins, border and padding */
  border-width: 0;
  /* padding: 16px; */
  padding: 0;
  /* Colours */
  background-color: #fff;
  /* Typography */
  font-size: 16px;
  /* Fix padding for modal Bootstrappy stuff */
}
.modal-content input[type="checkbox"]:after {
  background-color: #fff;
}
.modal-content h2 {
  margin: 0;
  font-size: 24px;
  padding: 16px;
}
.modal-content h3 {
  font-size: 16px;
}
.modal-content .row {
  margin-left: 0;
  margin-right: 0;
}
.modal-content .content {
  padding-bottom: 8px;
}
.modal-content .btn.material {
  /* Positioning */
  position: relative;
  /* Margins, border, padding */
  border-radius: 0;
  border: 0;
  margin-bottom: 8px;
  padding-left: 44px;
  /* Material properties */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* Font properties */
  font-size: 16px;
}
.modal-content .button-row {
  padding: 16px;
  text-align: right;
}
.modal-content .button-row a.delete {
  float: left;
}
/* New image modal */
@media (min-width: 768px) {
  .add-photo-modal .modal-sm {
    width: 400px;
  }
  .add-photo-modal .modal-sm p {
    padding: 16px;
    font-size: 14px;
  }
}
.add-photo-modal .modal-sm .add-photo-container span.fa-stack.fa-2x {
  color: rgba(0, 0, 0, 0);
}
.add-photo-modal .modal-sm .add-photo-container span.fa-stack.fa-2x:hover {
  color: rgba(255, 255, 255, 0.3);
}
input[type="text"],
input[type="email"],
input[type="password"] {
  border-radius: 0;
  border: 0;
  border-bottom: solid 2px #e8eaf6 !important;
  box-shadow: none !important;
  padding-left: 0;
  padding-bottom: none;
  font-size: 16px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:active,
input[type="email"]:active,
input[type="password"]:active {
  box-shadow: none;
  border: 0;
  border-bottom: solid 2px #f48fb1;
  -webkit-appearance: none;
  outline: none;
}
input[type=checkbox]:before {
  content: "";
  border: 2px solid #ccc;
  display: block;
  height: 16px;
  width: 16px;
  z-index: 2;
  position: absolute;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
input[type=checkbox]:after {
  background: #e8eaf6;
  height: 16px;
  width: 16px;
  content: "";
  position: absolute;
  display: block;
}
input[type=checkbox]:checked:before {
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
  border-color: #3f51b5;
  height: 9px;
}
input[type=numeric] {
  border-radius: 0;
}
label.control-label.label-right {
  text-align: left;
  padding-left: 0;
}
.datepicker-container,
.timepicker-container {
  font-weight: bold;
}
.datepicker-container input[type="text"],
.timepicker-container input[type="text"] {
  padding-left: 12px;
  padding-bottom: 0;
}
.timepicker-container label {
  /*
     * Pushing this down by 34px is intended to vertically 
     * align it with the numbers in the timepicker, since
     * the buttons have a {height: 34px} property set on
     * them by Bootstrap. VERY FRAGILE though!
     */
  position: relative;
  top: 34px;
}
.ui-slider-horizontal {
  height: 16px;
  color: rgba(0, 0, 0, 0.26);
  /* This is the invisible slider track (but it responds to clicks) */
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  cursor: pointer;
}
.ui-slider-horizontal .ui-slider-handle {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  top: 0;
  background-color: #3f51b5;
  border-color: #3f51b5;
  cursor: pointer;
}
.ui-slider-horizontal .ui-slider-range {
  background-color: #3f51b5;
  height: 2px;
  top: 7px;
}
.ui-slider-track {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.26);
  position: relative;
  top: 7px;
  width: 100%;
}
.ui-slider-track-on {
  height: 2px;
  background-color: #3f51b5;
  position: absolute;
  top: 7px;
  width: 0;
}
.ui-slider-tick {
  position: absolute;
  top: 5px;
  height: 6px;
  width: 6px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.87);
}
.thumbnail-container {
  min-width: 400px;
  min-height: 250px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}
.thumbnail-container .fa-camera {
  color: rgba(0, 0, 0, 0.26);
  line-height: 250px;
}
.thumbnail-container a.cancel-upload {
  position: relative;
  z-index: 2;
  line-height: 250px;
  color: #ffffff;
}
.thumbnail-container.nv-file-over .fa-camera {
  color: rgba(0, 0, 0, 0.54) !important;
}
.thumbnail-container > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.info-box .info-button,
.info-box .dismiss-button {
  /* Positionining */
  position: absolute;
  top: 56px;
  right: 64px;
  /* Z-index and material properties */
  z-index: 2;
}
.info-box .main {
  /* Size and positioning */
  position: absolute;
  top: 80px;
  bottom: 32px;
  right: 32px;
  width: 400px;
  max-width: calc(50% - 48px);
  background-color: #e8eaf6;
  /* Z-index and material properties */
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  /* Scrolling properties */
  overflow-y: auto;
}
.info-box .main .no-site {
  margin: 24px 16px 16px;
}
.info-box .main .no-site h2 {
  font-size: 24px;
}
.info-box .main .no-site .body {
  color: rgba(0, 0, 0, 0.54);
}
.info-box .main .header {
  /* Size and positioning */
  position: relative;
  height: 225px;
  top: 0;
  width: 100%;
  /* Overflow */
  overflow: hidden;
  /* Colour */
  background-color: #3f51b5;
  color: #ffffff;
  /* Border */
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.info-box .main .header img {
  min-width: 400px;
  min-height: 225px;
}
.info-box .main .header .add-photo-container {
  position: absolute;
  top: 32px;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.info-box .main .header .add-photo-container a {
  color: rgba(255, 255, 255, 0.7);
}
.info-box .main .header .add-photo-container a .fa-ban {
  color: #ffffff;
}
.info-box .main .header .text-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  /* W3C */
}
.info-box .main .header .header-container {
  /* Positioning */
  position: absolute;
  bottom: 0;
  /* Sizing */
  width: 100%;
  /* Margins and padding */
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}
.info-box .main .header .header-container h2 {
  /* Margins and padding */
  margin: 0;
  /* Typography */
  font-size: 24px;
  color: #ffffff;
}
.info-box .main .header .header-container span {
  font-size: 12px;
  color: #ffffff;
}
.info-box .main .header .header-container a.owner {
  color: #9fa8da;
}
.info-box .main .header .header-container a.edit-button {
  position: absolute;
  bottom: 16px;
  right: 16px;
  height: 36px;
  width: 36px;
}
.info-box .main .header .header-container a.edit-button i.fa {
  text-decoration: none;
  font-size: 36px;
}
.info-box .main .header .header-container a.edit-button i.fa-pencil-square {
  color: #ffffff;
}
.info-box .main .header .header-container a.edit-button i.fa.fa-square {
  color: rgba(0, 0, 0, 0.87);
}
.info-box .main .header .header-container a.edit-button:hover i.fa.pencil-square {
  color: rgba(153, 153, 153, 0.2);
}
.info-box .main .header .header-container a.edit-button:active i.fa.pencil-square {
  color: rgba(153, 153, 153, 0.4);
}
.info-box .main .content {
  /* Size and positioning */
  /* Margins and padding */
  padding: 16px;
}
.info-box .main .content .info-grid {
  /* Margins and padding */
  padding-bottom: 16px;
}
.info-box .main .content .info-row {
  /* Positioning */
  position: relative;
  /* Typography */
  font-size: 12px;
}
.info-box .main .content .info-row div {
  width: 50%;
}
.info-box .main .content .info-row div.key {
  color: rgba(0, 0, 0, 0.87);
}
.info-box .main .content .info-row div.key a.help-hover {
  position: relative;
  float: right;
  right: 48px;
  text-decoration: none;
}
.info-box .main .content .info-row div.value {
  position: absolute;
  top: 0;
  left: 50%;
  color: rgba(0, 0, 0, 0.54);
}
.info-box .dive-notes {
  font-size: 12px;
}
.info-box .dive-notes li {
  padding-bottom: 16px;
}
.info-box .dive-notes p {
  margin: 0;
}
.info-box .dive-notes .dive .name-date {
  color: rgba(0, 0, 0, 0.54);
}
.info-box .dive-notes .dive .stats {
  color: rgba(0, 0, 0, 0.54);
}
.info-box .dive-notes .dive .stats,
.info-box .dive-notes .dive .comment {
  padding-left: 8px;
}
.filter-menu {
  /* Size and positioning */
  position: absolute;
  top: 84px;
  left: 32px;
  width: 400px;
  max-width: calc(50% - 48px);
  /* Z-index and material properties */
  z-index: 1;
  /* higher than map */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  /* Margins and padding */
  padding-bottom: 24px;
  /* Colour and typography */
  color: rgba(0, 0, 0, 0.87);
  background-color: #e8eaf6;
  font-size: 16px;
}
.filter-menu .header {
  padding: 24px 16px 16px;
}
.filter-menu .header h2 {
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}
.filter-menu ul {
  margin: 0;
}
.filter-menu h3 {
  margin: 0;
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 8px;
}
.filter-menu #filterList li {
  margin: 0;
}
.filter-menu #filterList li.container-fluid {
  padding: 0;
  margin-bottom: 0;
}
.filter-menu #filterList > li {
  margin: 0px 16px 16px 16px;
}
.filter-menu #filterList span.site-difficulty {
  color: rgba(0, 0, 0, 0.87);
}
.filter-menu .slider-container {
  margin-bottom: 16px;
}
.filter-menu .col-xs-1 {
  padding: 0;
}
.filter-menu .lower-bound,
.filter-menu .upper-bound {
  font-weight: bold;
  text-align: right;
  color: rgba(0, 0, 0, 0.54);
}
.filter-menu .lower-bound {
  padding-right: 8px;
}
.filter-menu .fab {
  position: absolute;
  bottom: -24px;
  right: 16px;
}
.navbar {
  color: #ffffff;
  background-color: #3f51b5;
  border: 0;
  height: 48px !important;
}
.navbar-default {
  /* Margins, padding, and border */
  border-radius: 0;
  margin-bottom: 0;
  /* Material design and z-index */
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.navbar-default .navbar-collapse {
  height: 48px !important;
}
.navbar-default > .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.navbar-default > .container-fluid .navbar-brand {
  /* Margins and padding */
  margin-left: 0;
  padding: 0 32px;
  color: inherit;
}
.navbar-default > .container-fluid .navbar-brand:hover,
.navbar-default > .container-fluid .navbar-brand:focus {
  color: inherit;
}
.navbar-default > .container-fluid .navbar-brand h1 {
  margin: 0;
  line-height: 48px;
  font-family: 'Cardo', serif;
}
@media (min-width: 768px) {
  .navbar-default > .container-fluid .navbar-right {
    margin-right: 54px;
  }
}
.navbar-default > .container-fluid .navbar-right a {
  color: #ffffff;
  /*
        font-size: 32px;
        line-height: 32px;
        padding-top: 12px;
        padding-bottom: 0;
        */
}
.navbar-default > .container-fluid .navbar-right a.icon-link {
  font-size: 32px;
  line-height: 32px;
  padding-top: 8px;
  padding-bottom: 0;
}
.navbar-default > .container-fluid .navbar-nav > li > .raised-accent-button {
  margin-top: 8px;
}
.nav-top {
  color: #ffffff;
  background-color: #3f51b5;
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.nav-top span {
  font-size: 30px;
}
.modal-content ul.social-logins {
  margin-bottom: 16px;
}
.modal-content ul.social-logins li {
  padding-bottom: 8px;
}
.btn.btn-social-login {
  position: relative;
  padding-left: 44px;
  text-align: left;
}
.btn.btn-social-login > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.4em;
  width: 32px;
  line-height: 34px;
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.btn-facebook {
  color: #fff;
  background-color: #3b5998;
}
.btn-facebook:hover,
.btn-facebook:active {
  color: #fff;
  background-color: #2d4373;
}
.btn-google {
  color: #fff;
  background-color: #dd4b39;
}
.btn-google:hover,
.btn-google:active {
  color: #fff;
  background-color: #c23321;
}
.btn-sign-in {
  font-weight: bold;
  color: #ffffff;
  background-color: #e91e63;
}
.btn-sign-in:hover,
.btn-sign-in:focus {
  color: #ffffff;
  background-color: #d81b60;
}
.btn-sign-in:active,
.btn-sign-in:active:hover {
  color: #ffffff;
  background-color: #c2185b;
}
.site-details-modal h3 {
  margin-bottom: 0;
}
.site-details-modal .coordinate {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}
.site-details-modal .angular-google-map-container {
  height: 250px;
  width: 100%;
  position: relative;
  margin-bottom: 16px;
}
.site-details-modal .centreMarker {
  position: absolute;
  background: url(/img/ic_place_black_18dp.png) no-repeat;
  top: 50%;
  left: 50%;
  z-index: 3;
  margin-left: -10px;
  margin-top: -34px;
  height: 34px;
  width: 34px;
}
.site-details-modal .help {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}
.card-border {
  border-radius: 2px;
}
body {
  font-family: 'Roboto', sans-serif;
}
a.start-editing {
  text-decoration: none;
}
.angular-google-map-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-width: 0;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
