.ds-branding {
  font-family: 'Libre Baskerville', serif;
}
.ds-branding--dot {
  color: #e91e63;
}
.angular-google-map-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-width: 0;
}
.mdl-layout__drawer .mdl-navigation {
  padding-top: 0;
}
.navigation-section {
  padding: 16px 40px;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
}
.navigation-section-header {
  font-size: 18px;
  margin: 0;
}
/*
@import 'add-site-button';
@import 'boxes';
@import 'filter-menu';
@import 'info-box';
@import 'map';
@import 'modal';
@import 'timepicker';
@import 'datepicker';
*/
