.info-card {
  position: absolute;
  top: 84px;
  right: 32px;

  max-height: ~"calc(100% - 128px)";
  overflow-y: auto;
  overflow-x: hidden;
}
.info-card__site-description,
.info-card__site-dives {
  padding-top: 8px;
  border-top: solid 1px rgba(0, 0, 0, 0.12);
}
.info-card__site-description__title,
.info-card__site-dives__title {
  margin: 0;
}
.mdl-grid.mdl-site-details {
  padding: 8px 0px;
}
