.filter-menu, .info-box, .log-dive-box, .site-box, .sign-in-box {
  position: absolute;
  /* Hack positioning to tighten up vertical space */
  h6 {
    margin: 0;
    margin-top: 24px;
  }
  .mdl-cell {
    margin-top: 0;
  }
}
.add-site {
  /*
  top: 64px;
  right: 64px;
  */
}
.info-box {
  right: 64px;
  top: 64px;
}
.filter-menu {
  top: 64px;
  left: 32px;
}
.log-dive-box {
  right: 64px;
  top: 64px;
}
.sign-in-box {
  top: 64px;
  left: 32px;
}
.site-box {
  //max-height: ~"calc(100% - 96px)";
  overflow-y: auto; /* ugh, but this avoids padding problems */
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  .mdl-card {
    width: 100%;
    max-height: 100%;
    max-width: 980px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .angular-google-map-container {
    height: 200px;
    position: relative;
    width: 100%;
    z-index: 0;
  }
  .centreMarker {
    background: url(/img/ic_place_black_18dp.png) no-repeat;
    height: 34px;
    left: 50%;
    margin-left: -10px;
    margin-top: -34px;
    position: absolute;
    top: 50%;
    width: 34px;
    z-index: 3;
  }
}
