/*
.info-box, .edit-box {
  & > div > .mdl-card__title {
    color: #fff;
    height: 176px;
  }
  & > div > .mdl-card__menu {
    color: #fff;
  }
}
.edit-box {
  h2.mdl-card__title-text {
    /* Align the input text with where it appears in the info box */
    position: relative;
    top: 4px;
  }
  h2.mdl-card__title-text .mdl-textfield.is-upgraded {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding-bottom: 0;
    .mdl-textfield__input {
      font-family: inherit;
    }
  }
  h6 {
    margin-bottom: 0;
  }
}
.info-box {
  .mdl-card__title.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: @indigo-500;
    width: 100%;
  }
  .mdl-card__title.background {
  }
}
*/
