.angular-google-map-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-width: 0;
}
.add-site .angular-google-map-container {
    height: 200px;
    position: relative;
    width: 100%;
    z-index: 0;
}
