@import 'indigo-swatch';
@import 'pink-swatch';

@import 'nav-bar';
@import 'map';
@import 'menus';
@import 'boxes';
@import 'dives';
@import 'modals';

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}
