<div class="mdl-grid">
  <h2 class="mdl-card__title-text mdl-cell mdl-cell--12-col">
    Sign in to Divesit.es
  </h2>
  <div class="mdl-cell--6-col" style="text-align: center">
    <a href
      class="mdl-button mdl-js-button mdl-button--icon"
      ng-click="authenticate('facebook')"
      >
      <i class="fa fa-facebook" style="line-height: 32px"></i>
    </a>
  </div>
  <div class="mdl-cell--6-col" style="text-align: center">
    <a href
      class="mdl-button mdl-js-button mdl-button--icon"
      ng-click="authenticate('google')"
      >
      <i class="fa fa-google" style="line-height: 32px"></i>
    </a>
  </div>
  <div>
  </div>
</div>
