<div class="mdl-card mdl-shadow--2dp" ng-show="filterMenu.visible">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Divesit<span class="dot">.</span>es</h2>
  </div>
  <div>
  </div>
  <div class="mdl-grid">
    <h6>Minimum experience level required</h6>
    <p>{{ filterPreferences.maximumLevel | stringifyExperienceLevel }}</p>
    <p style="width: 100%">
    <input type="range" class="mdl-slider mdl-js-slider" min="0" max="2" ng-model="filterPreferences.minimumLevel">
    </p>
    <h6>Maximum depth</h6>
    <p style="width: 100%">
    <input type="range" class="mdl-slider mdl-js-slider" min="0" max="100" step="5" ng-model="filterPreferences.depthRange">
  </div>
</div>
<!--
  <ul>
    <li id="filterEntryTypes">
    <h3>Access</h3>
    <ul>
      <li>
      <input type="checkbox" ng-model="filterPreferences.boatEntry"
      ng-change="updateAndSendFilterPreferences()" >
      <label>
        <span>
          Boat
        </span>
      </label>
      </li>
      <li>
      <input type="checkbox" ng-model="filterPreferences.shoreEntry"
      ng-change="updateAndSendFilterPreferences()">
      <label>
        <span>
          Shore
        </span>
      </label>
      </li>
    </ul>
    </li>
    <li id="filterMinimumLevel">
    <h3>
      Experience Level:
      <span>{{ filterPreferences.maximumLevel | stringifyExperienceLevel }}</span>
    </h3>
    <div>
      <div
        ui-slider="maximumLevelSlider"
        id="maximumLevelSlider"
        min="0" max="2"
        step="1"
        tick="1"
        ng-change="updateAndSendFilterPreferences()"
        ng-model="filterPreferences.maximumLevel">
      </div>
    </div>
    </li>
    <li>
    <h3>Depth range</h3>
    <div>
      <div>{{ filterPreferences.depthRange[0]  }}</div>
      <div>
        <div ui-slider="depthRangeSlider"
          id="depthRangeSlider"
          min="0" max="100"
          ng-change="updateAndSendFilterPreferences()"
          ng-model="filterPreferences.depthRange">
        </div>
      </div>
      <div>{{ filterPreferences.depthRange[1]  }}</div>
    </div>
    </li>
  </ul>
  <div ng-if="!isAuthenticated()">
    <h3>Sign in to add new dive sites, log dives, and more.</h3>
    <p>
    <a href ng-click="summonSignInModal()">SIGN IN</a>
    </p>
  </div>
  <a href ng-click="summonNewSiteModal()">
    <span>
      <i></i>
      <i></i>
    </span>
  </a>
</div>
-->
