<div>
  <div class="mdl-card__title"
    style="height: 150px; background-color: rgb(63, 81, 181)"
    ng-if="site.imgSrc === undefined">
    <h2 class="mdl-card__title-text info-card__site-name">{{ site.name }}</h2>
  </div>
  <div class="mdl-card__title floor-fade"
    style="height: 150px; position: relative"
    ng-if="site.imgSrc !== undefined"
    ng-style="{'background': 'url(\'' + site.imgSrc + '\') center / cover'}">
    <div class="floor-fade" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0"></div>
    <h2 class="mdl-card__title-text info-card__site-name"
      style="z-index: 1"
      ng-style="{'color': site.imgSrc === undefined ? 'inherit' : '#fff'}"
      >
      {{ site.name }}
    </h2>
  </div>
  <div class="mdl-card__actions info-card__actions" ng-show="isOwner()">
    <button type="button" class="mdl-button mdl-js-button">
      Edit
    </button>
  </div>
  <div class="mdl-card__menu">
    <button type="button" ng-click="dismiss()" class="mdl-button mdl-js-button mdl-button--icon info-card__dismiss-button">
      <i class="material-icons">close</i>
    </button>
  </div>


  <div class="mdl-card__supporting-text mdl-card--border">
    <div ng-if="map.isOwner()">
      <p>You created this site, so you can edit its details.</p>
      <div style="text-align: right">
        <button type="button" class="mdl-button mdl-js-button mdl-button--primary">Edit details</button>
      </div>
    </div>
    <div class="mdl-grid mdl-site-details">
      <div class="mdl-cell--6-col">
        Level: {{ site.minimumLevel | stringifyExperienceLevel }}
      </div>
      <div class="mdl-cell--6-col">
      </div>
      <div>
        Depth: {{ site.depth }} m
      </div>
    </div>
    <div class="info-card__site-description" ng-if="site.description">
      <h6 class="info-card__site-description__title">Description</h6>
      <p>{{ site.description }}</p>
      <div style="text-align: right" ng-if="map.site.user">
        – {{ site.user.displayName }}
      </div>
    </div>
    <div class="info-card__site-dives" ng-if="site.dives">
      <h6 class="info-card__site-dives__title">Dives logged here ({{site.dives.length}})</h6>
      <button
        id="info-card__log-dive"
        class="mdl-button mdl-js-button mdl-button--icon info-card__log-dive-button"
        type="button"
        ng-click="summonLogDiveDialog()"
        ng-show="isAuthenticated()">
        <i class="material-icons">rate_review</i>
      </button>
      <div class="mdl-tooltip" for="info-card__log-dive">
        Log
      </div>
      <div class="dive-grid" ng-repeat="dive in site.dives">
        <div class="clearfix">
          <div class="dive-grid-image">
            <img ng-src="{{dive.user.picture}}"
            height="54" width="54"
            />
          </div>
          <div class="dive-grid-details">
            <div class="dive-grid-user"> {{ dive.user.displayName }} </div>
            <div class="dive-grid-date"> {{ dive.date | date }} at {{ dive.date | date:'HH:mm' }} </div>
            <span class="dive-grid-depth"><i class="fa fa-long-arrow-down"></i> {{ dive.maxDepth }} m </span>
            <span class="dive-grid-duration"><i class="fa fa-clock-o"></i> {{ dive.duration }} min. </span>
          </div>
        </div>
        <div class="dive-grid-comment" ng-show="!!dive.comment">
          {{ dive.comment }}
        </div>
      </div>
    </div>
  </div>

</div>
