<div>
  <div class="mdl-card__title background site-has-image" ng-if="site.background" style="background: {{site.background}}">
  </div>
  <div class="mdl-card__title background site-no-image" ng-if="!site.background">
  </div>
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      {{ site.name }}
    </h2>
  </div>
  <div class="mdl-card__menu">
    <button type="button" ng-click="dismiss()" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">close</i>
    </button>
  </div>


  <div class="mdl-card__supporting-text mdl-card--border">
    <div ng-if="isOwner()">
      <p>You created this site, so you can edit its details.</p>
      <div style="text-align: right">
        <button type="button" class="mdl-button mdl-js-button mdl-button--primary">Edit details</button>
      </div>
    </div>
    <div class="mdl-grid mdl-site-details">
      <div class="mdl-cell--6-col">
        Level: {{ site.minimumLevel | stringifyExperienceLevel }}
      </div>
      <div class="mdl-cell--6-col">
      </div>
      <div>
        Depth: {{ site.depth }} m
      </div>
    </div>
    <div class="site-description" ng-if="site.description">
      <h6 class="site-description-title">Description</h6>
      <p>{{ site.description }}</p>
      <div style="text-align: right" ng-if="site.user">
        – {{ site.user.displayName }}
      </div>
    </div>
    <div class="site-dives" ng-if="site.dives">
      <h6 class="site-dives-title">Dives</h6>
      <div>
        Divesit.es users have dived here {{ site.dives.length }} times.
      </div>
      <button ng-click="summonLogDiveBox()" type="button" ng-show="isAuthenticated()" id="infobox-log-dive" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">rate_review</i>
      </button>
      <div class="mdl-tooltip" for="infobox-log-dive">
        Log
      </div>
      <div class="dive-grid" ng-repeat="dive in site.dives" style="border-top: solid 1px rgba(0, 0, 0, 0.12)">
        <div class="clearfix">
          <div class="dive-grid-image">
          </div>
          <div class="dive-grid-details">
            <div class="dive-grid-user"> {{ dive.user.displayName }} </div>
            <div class="dive-grid-date"> {{ dive.date | date }} at {{ dive.date | date:'HH:mm' }} </div>
            <span class="dive-grid-depth"><i class="fa fa-long-arrow-down"></i> {{ dive.maxDepth }} m </span>
            <span class="dive-grid-duration"><i class="fa fa-clock-o"></i> {{ dive.duration }} min. </span>
          </div>
        </div>
        <div class="dive-grid-comment" ng-show="!!dive.comment">
          {{ dive.comment }}
        </div>
      </div>
    </div>
  </div>

</div>
