<div class="mdl-card mdl-shadow--2dp">
  <form name="logDiveForm" novalidate ng-submit="save()">

    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">
        Log a dive at {{ site.name }}
      </h2>
    </div>
    <div class="mdl-grid">
    </div>

    <div class="mdl-card__supporting-text">
        <h6>Time in</h6>
      <div class="mdl-grid" id="logDive-timepicker-container">
        <timepicker ng-model="dive.time" show-meridian="false">
        </timepicker>
      </div>

      <h6>Duration (min.)</h6>
      <div class="mdl-textfield mdl-js-textfield">
        <input ng-model="dive.duration"
        class="mdl-textfield__input"
        type="text"
        id="logDive-duration">
      </div>

      <h6>Maximum depth (m)</h6>
      <div class="mdl-textfield mdl-js-textfield">
        <input depth ng-model="site.maxDepth" class="mdl-textfield__input"
        name="maxDepth"
        type="text" id="logDive-maxDepth" pattern="[0-9]{1,2}(\.[0-9]+)?" />
        <div class="mdl-textfield__error"
          ng-style="{'visibility': logDiveForm.maxDepth.$error.depth && (logDiveForm.$submitted || logDiveForm.depth.$dirty) ? 'visible' : 'hidden'}"
          >
          Depth must be a number between 0 and 100 metres.
        </div>
      </div>

    </div>
  </div>

  <div class="mdl-card__actions">
    <button type="button" ng-click="cancel()" class="mdl-button mdl-js-button">
      Cancel
    </button>
    <button ng-click="cancel()" class="mdl-button mdl-js-button">
      Save
    </button>
  </div>
</form>
</div>
